@model IEnumerable<AppGateWay_Operation_FrontEnd.Models.Resultcs>
@{
	ViewData["Title"] = "Configuration Result";
}
<h2>Final Configuration Result </h2>
<table class="table">
	<thead>
		<tr>
			<th>
				@* @Html.DisplayNameFor(model => model.Message)*@
				<label>Action Performed</label>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Message)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@if (item.State)
					{
						<h2> <span class="glyphicon glyphicon-thumbs-up"></span></h2>
					}
					else
					{
						<h4> <span class="glyphicon glyphicon-thumbs-down"></span></h4>


					}

				</td>
			</tr>
		}
	</tbody>
</table>
